<div class="container">
  <div class="user-intro">
    <% if current_user.image? %>
      <%= image_tag current_user.image.thumb50.url, class: 'image' %>
    <% else %>
      <%= image_tag 'no-image-icon-23500.jpg', :size => '80x80', class:'image' %>
    <% end %>
    <span><%= link_to "#{current_user.username}さんのページ", user_path(@user) %></span>
    <% if current_user.try(:admin?) %>
      <%= link_to "管理者画面", admin_users_path, class: 'btn' %>
    <% end %>
  </div>

  <div class="room-list">
    <h2>Chat Room一覧</h2>
    <div>
      <ul>
        <% @rooms.each do |room| %>
          <li>
            <%= link_to "ROOM#{room.id}", room_path(room.id) %>
          </li>
        <% end %>
      </ul>
     </div>
<<<<<<< HEAD
     <%= paginate @rooms %>
    <p><%= link_to "新規ルームを作成する", new_room_path, class: 'btn' %></p>
=======
    <%= paginate @rooms %>
    <p><%= link_to "新規ルームを作成する", new_room_path(@rooms), class: 'btn' %></p>
>>>>>>> test
  </div>

</div>