<div class="container">
  <div class="user-intro">
    <% if current_user.image? %>
      <p><%= image_tag current_user.image.thumb50.url %></p>
    <% else %>
      <p><%= image_tag 'no-image-icon-23500.jpg', :size => '50x50' %></p>
    <% end %>
    <h1><%= link_to "#{current_user.username}さんのページ", user_path(@user) %></h1>
  </div>
    <h3>Chatroom一覧</h3>
     <div>
       <ul>
         <% @rooms.each do |room| %>
          <li><%= link_to "ROOM#{room.id}", room_path(room.id) %></li>
         <% end %>
       </ul>
      </div>
  <h3>お気に入り</h3>
    <% if current_user.try(:admin?) %>
      <%= link_to "管理者画面", admin_users_path, class: 'btn' %>
    <% end %>
</div>